@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Sans 3", "Segoe UI", ui-sans-serif, system-ui, sans-serif;
  color-scheme: light;
  background: #f8fafc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

html {
  scroll-behavior: smooth;
}
